tr
  if user
    td(colspan="6")
      p Welcome #{user.username}!
      form(action="/log-out" method="POST")
        button(type="submit") Log Out
  else
    td(colspan="6")
      br
      br
      br
      br
      p Log in or sign up in order to add custom commands!
      form(action="/log-in" method="POST")
        h2 Log In
        input(type="text" name="username" placeholder="Username" style="margin-right: 10px;")
        input(type="password" name="password" placeholder="Password" style="margin-right: 10px;")
        button(type="submit") Log In
      form(action="/sign-up" method="POST")
        h2 Sign Up
        input(type="text" name="username" placeholder="Username" style="margin-right: 10px;")
        input(type="password" name="password" placeholder="Password" style="margin-right: 10px;")
        button(type="submit") Sign Up
