table
  thead
    tr
      each col in cols
        th= col
  tbody
    each row in rows
      tr
        each val in row
          td= val
  tfoot
    include auth.pug
  if user
    tr
      form(action=`${envBaseURL}/koala` method="POST")
        td
          input(type="text" name="command" autocomplete="off")
        td
          input(type="text" name="name" autocomplete="off")
        td
          input(type="text" name="description" autocomplete="off")
        td
          input(type="text" name="emptyAction" autocomplete="off")
        td
          input(type="text" name="actionWithArguments" autocomplete="off")
        td
          button(type="submit" autocomplete="off") Add Command
